<div class="header">
  <img src="./../assets/maker-space.svg" />
  <span *ngIf="blubber">Der Maker Space hat aktuell geöffnet</span>
  <span *ngIf="!blubber">Der Maker Space hat aktuell geschlossen</span>
</div>




<app-slide-text-image *ngIf="currentSlide  && IsScreentype('TextImage')" [slide]="currentSlide"></app-slide-text-image>
<app-slide-cards *ngIf="currentSlide  && IsScreentype('Cards')" [slide]="currentSlide"></app-slide-cards>


<div class="intro" *ngIf="screen == 2">
  <div class="intro-content">
    <h1 style="font-size: 4rem; margin-top: 10rem; color: #FFEF00;">
      Wir haben vom 11. bis 13. September geschlossen.
    </h1>
    <p style="text-align:justify;">
      In diesen Tagen finden in der gesamten experimenta die Sicherheitsprüfungen und Sicherhatsunterweisungen statt.
      Daher haben wir Mittwoch, Donnerstag und Freitag geschlossen. Am Samstag ist aber wieder regulär geöffnet und der LED-Workshop findet statt.
    </p>
  </div>
</div>
