<div class="header">
  <img src="./../assets/maker-space.svg" />
  <span *ngIf="blubber">Der Maker Space hat aktuell geöffnet</span>
  <span *ngIf="!blubber">Der Maker Space hat aktuell geschlossen</span>
</div>

<div class="card-list" *ngIf="screen == 0">
  <div class="card-list-header">
    Unsere nächsten Workshops
  </div>
  <div class="card-list-sub-header">
    Alle Workshops auch auf https://makerspace.experimenta.science
  </div>

  <div class="cards">

    <div class="card">
      <img src="./../assets/Schraube.png" />
      <div class="card-body">
        <h2>3D Konstruktion mit Fusion 360</h2>
        <h3 class="card-sub">
          07.09.2019 - 12:00 bis 16:00 Uhr
        </h3>
        <div class="card-content">
          Wir wollen ein Modell für den 3D Drucker erstellen. Geplant ist eine Schraube mit M-Gewinde und einer
          passenden Mutter. Danach wollen wir noch eine kleine Kiste zur Fertigung über den Lasercutter erstellen. Mit
          etwas Gedult können beide Objekte am Abend mitgenommen werden.
        </div>
      </div>
    </div>

    <div class="card">
      <img src="./../assets/ManipulationVonLicht.jpg" />
      <div class="card-body">
        <h2>Licht und seine Manipulation</h2>
        <h3 class="card-sub">
          14.09.2019 - 10:00 bis 16:00 Uhr
        </h3>
        <div class="card-content">
          Wie verbaut man LEDs, wie funktioniert RGB-Farbmischung und was kann man damit alles anstellen, wenn man
          Microcontroller und Schalter dazu gibt und das ganze mit einer Prise Experimentierfreude garniert? Wir
          konzipieren, bauen und benutzen selbst konzipierte Photonenkanonen.
        </div>
      </div>
    </div>

    <div class="card">
      <img src="./../assets/header-02.jpg" />
      <div class="card-body">
        <h2>Future Fashion</h2>
        <h3 class="card-sub">
          16.10.2019 - 10:00 bis 16:00 Uhr
        </h3>
        <div class="card-content">
          Wir verwandeln Kleidungsstücke mit bunten LEDs und ein bisschen Kreativität in leuchtende Unikate, dafür
          kannst du gerne deine eigenen Klamotten, Taschen, Mützen oder Ähnliches mitbringen und upcyclen.
        </div>
      </div>
    </div>

  </div>
</div>

<div class="intro" *ngIf="screen == 1">
  <div class="intro-content">
    <p>

      Wir sind eine offene Werkstatt, mit vielfältiger Ausstattung. Bei uns treffen sich Menschen ab 14 Jahre zum
      Werken, Austauschen und Lernen. Neben regelmäßigen Workshops zu verschiedenen Themen, wird hier an eigenen
      Projekten gearbeitet.
    </p>
    <p>
      Selbst ausprobieren und die Befähigung zum eigenständigen Arbeiten, - das ist, was den Maker Space ausmacht. Um
      dies zu erreichen, haben wir zahlreiche Geräte, Maschinen und Werkzeuge, sowie eine solide Grundausstattung an
      Materialien vorrätig. Durch die Geräteführerscheine stellen wir sicher, dass in den Werkräumen fachkundig und ohne
      Gefahr gearbeitet werden kann.
    </p>
  </div>
  <img src="./../assets/K0A1286.jpg" />
</div>